@import '../variables';
@import '../mixins';

button {
  @include button;

  .dropdown.show > &.activator {
    color: var(--color-black, $color-black);
    background-color: var(--color-primary, $color-primary);
    transform: translateY(0);
  }
}
