// https://material.io/resources/color/#!/?view.left=1&view.right=0&secondary.color=00FF76&primary.color=00a3ff

$color-primary: #00a3ff;
$color-primary-light: #69d4ff;
$color-primary-dark: #0075cb;
$color-secondary: #00ff76;
$color-secondary-light: #6dffa7;
$color-secondary-dark: #00ca46;
$color-text: rgba(0, 0, 0, 0.95);
$color-text-muted: rgba(0, 0, 0, 0.66);
$color-text-inverse: rgba(255, 255, 255, 0.96);
$color-text-inverse-muted: rgba(255, 255, 255, 0.68);
$color-white: #fff;
$color-black: #141b1f;
$color-primary-300: #f5f8fa;
$color-primary-400: #cde6f4;
$color-primary-500: #b4d8eb;
$color-primary-600: #9bc7df;
$color-primary-700: #82b5d1;
$shadow-umbra: rgba(0, 0, 0, 0.2);
$shadow-penumbra: rgba(0, 0, 0, 0.14);
$shadow-antumbra: rgba(0, 0, 0, 0.1);

$font-size-base: 10px;

$transition-speed: 125ms;

$font-family-sans: -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  'Roboto',
  // Basic web fallback
  'Helvetica Neue',
  Arial, sans-serif,
  // Emoji fonts
  'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
